body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, pink);
    font-family: 'Times New Roman', Times, serif;
}
.container {
    text-align: center;
    padding: 50px;
    width: 100vh;
    background: linear-gradient(pink, white);
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(254, 254, 254, 0.2);
    transition: transform 0.3s ease;
}
.container:hover {
    transform: scale(1.03);
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5b63d8;
    color: rgb(255, 237, 237);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}